<div class="footer">
    <div>
        <h3>OPENHOMES</h3>
        <p>Find your best home with ease</p>
    </div>
    <div>
        <h4>GET IN TOUCH</h4>
        <p>Douala Rue Mazda &nbsp;<br> contact@email.com</p>
    </div>
    <div>
       &copy; <%= Date.current.year %> OPENHOMES
    </div>
</div>