<div class="row footer">
    <div class="col-md-4">
        <h3>OPENHOMES</h3>
        <p>Find your best home with ease</p>
    </div>
    <div class="col-md-4">
        <h4>GET IN TOUCH</h4>
        <p>Douala Rue Mazda &nbsp;<br> contact@email.com</p>
    </div>
    <div class="col-md-4">
       &copy; <%= Date.current.year %> OPENHOMES
    </div>
</div>