<% if @room.images.attached? %>
  <div class="row images-preview">
      <% @images.each do |image| %>
        <div class="image-item">
           <div class="card card-default">
              <div class="card-heading preview">
                 <%= image_tag image, width: "100%", height: "150px" %>
              </div>
              <div class="panel-body">
                  <span class="pull-right">
                     <%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, purge_photo_path(image), method: :delete, data: {confirm: "Are your sure?"} %>
                  </span>
              </div>
           </div>
        </div>
      <% end %>
  </div>
<% end %>